.not-found-container {
  margin: 20px 0;
  margin-top: 90px;
  text-align: center;
}

.not-found-container img {
  width: 45%;
}

.back-to-home-btn {
  background-color: #fc5b62;
  margin-top: 15px;
  border: none;
  outline: none;
  padding: 8px 20px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 500;
}

.back-to-home-btn:hover {
  background-color: #5e78b8;
  color: white;
}
